* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
p,
a,
h2 {
    font-family: 'textoBom', sans-serif;
}

@font-face {
    font-family: "textoBom";
    src: url(font/Imprima-Regular.ttf);
}

a {
    text-decoration: none;
    
}

img {
    width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

/* variaveis */

:root {
    --DeepBlue: #0D4C73;
    --DeepLightBlue: #23648C;
    --MiddleBlue: #4480A6;
    --MiddleLightBlue: #8BBBD9;
    --White: #F2F2F2;
    --black: #000000;
    --Yellow: #FFCC00;
    --SemiBlack: rgb(0, 0, 0, 0.5)
}

.tituloBranco {
    color: var(--White);
}

/* Header */

#header {
    height: 100px;
    width: 100%;
    background-color: var(--MiddleLightBlue);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 200px;
}

.linhaHeader {
    height: 80%;
    width: 2px;
    background-color: var(--DeepBlue);
    border: 1px var(--DeepBlue) solid;
    border-radius: 5px;
}

#nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navTexto {
    color: var(--black);
    font-size: 20px;
}

/*Fim Header */
/* Banner */

#banner {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixaBanner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#carrosselImagem {
    transition: 0.5s;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(img/imagem1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.textoBanner {
    width: 30%;
    text-align: center;
    color: var(--White);
    font-size: 20px;
}

.botaoBanner {
    font-size: 30px;
    background-color: transparent;
    cursor: pointer;
    margin: 0 50px;
    color: var(--White);
}

/* Fim Banner */
/* Review */

.Review {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 175px 0;
}

.imagemVeia {
    width: 400px;
}

.caixaReview {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.tituloReview {
    font-size: 45px;
}

.clemencia {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star {
    margin-left: 15px;
    margin-top: 8px;
    align-items: center;
    color: var(--Yellow);
    font-size: 35px;
}

/* Fim Review */
/* processo */

.botaoCompra,
.botaoProduto {
    background-color: var(--DeepBlue);
    color: white;
    height: 38px;
    width: 150px;
    border-radius: 10%;
    font-family: 'textoBom', sans-serif;
    margin: 25px 0;
    cursor: pointer;
}

.botaoCompra:not(:hover),
.botaoProduto:not(:hover) {
    transition: 0.7s;
}

.botaoCompra:hover,
.botaoProduto:hover {
    transition: 0.6s;
    opacity: 0.83;
}

.botaoProduto{
    display: none;
}

.linhaBrancaH {
    height: 1px;
    background-color: white;
    width: 80%;
    margin: 90px 0 50px;
}

.itemCompra {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.imagemCompra {
    width: 100%;
}

.produtos {
    background-color: var(--MiddleBlue);
    color: white;
    display: flex;
}

.caixaProdutos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.lista {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 200px;
}

.textoLista {
    font-size: 19px;
}

.caixaLista {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.itemLista {
    display: flex;
    align-items: center;
    text-align: start;
}

.check {
    font-size: 30px;
    margin-right: 5px;
}

.listaCompra {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 120%;
}

.compraProdutos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tituloProdutos {
    margin: 20px 0;
}



/* Fim processo */
/* Info */

.informacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;

}


.caixaInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 55px 0;
}

.caixaTextoInfo {
    width: 50%;
    padding-right: 75px;
}

.imgInfo {
    padding-left: 50px;
}

.linhaAzul {
    background-color: var(--MiddleBlue);
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Fim Info */
/* Video */

.videoCaixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.linhaAzulEscuro {
    background-color: var(--DeepBlue);
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
    width: 640px;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
iframe {
    width: 100%;
    height: 360px;
    border-radius: 10px;
    border: none;
}

video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Fim Video */

.linha {
    background-color: var(--MiddleBlue);
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
}

.processos {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* footer */
#face,
#insta,
#link,
#tt,
#yt {
    font-size: 26px;
    color: var(--White);
}

#footer {
    background-color: var(--DeepBlue);
    color: white;
    width: 100%;
    height: 1050%;

}

#autoraFoto {
    border-radius: 3%;
    height: 70px;
    width: auto;
    padding-right: 5px;
}

#autora {

    height: 80px;
    display: flex;
}

#autora2 {
    margin-left: 40px;
    padding-top: 20px;
}

#caixaMenu {
    align-items: center;
    justify-content: center;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.linhaBranca {
    background-color: white;
    width: 3px;
    height: 200px;
}

.titulo {
    font-size: 25px;
}

.desc {
    font-size: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.menu a {
    margin-top: 5%;
    text-decoration: none;
}

.clemencia {
    display: flex;
    align-items: center;
}