* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    background-color: var(--DeepBlue);
    color: white;
    height: 38px;
    width: 100px;
    border-radius: 10%;
    font-family: 'textoBom', sans-serif;
    margin-top: 15px;
    
}
.caixaRemedio{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    
}
.remedios{
    display: flex;
    margin-top: 15px;
}
.caixa{
    font-size: 26px;
    display:flex ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
.linhaBranca2{
    height: 1px;
    background-color: white;
    width: 50%;
    margin-top: 15px;
   
}
.bola{
    height: 26px;
    width: auto;   
}
.produtos{
    background-color: var(--DeepLightBlue);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lista{
    background-color: var(--DeepLightBlue);
    color: white;
    display:flex ;
    justify-content: center;
    align-items: center;
}

h1, p, a {
    font-family:'textoBom',sans-serif;
}

@font-face {
    font-family: "textoBom";
    src: url(font/Imprima-Regular.ttf);
}
a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

/* variaveis */

:root {
    --DeepBlue: #0D4C73;
    --DeepLightBlue: #23648C;
    --MiddleBlue: #4480A6;
    --MiddleLightBlue: #8BBBD9;
    --White: #F2F2F2;
    --black: #000000;
    --Yellow: #FFCC00;
    --SemiBlack: rgb(0, 0, 0, 0.5)
}

/* Header */

#header {
    height: 100px;
    width: 100%;
    background-color: var(--MiddleLightBlue);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 200px;
}

.linhaHeader {
    height: 80%;
    width: 2px;
    background-color: var(--DeepBlue);
    border: 1px var(--DeepBlue) solid;
    border-radius: 5px;
}

#nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navTexto {
    color: var(--black);
    font-size: 20px;
}

/*Fim Header */
/* Banner */

#banner {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixaBanner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#carrosselImagem {
    transition: 0.5s;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(img/imagem1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.textoBanner {
    width: 30%;
    text-align: center;
    color: var(--White);
    font-size: 20px;
}

.botaoBanner {
    font-size: 30px;
    background-color: transparent;
    cursor: pointer;
    margin: 0 50px;
    color: var(--White);
}

/* Fim Banner */
/* Review */

.Review {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 175px 0;
}

.imagemVeia {
    width: 400px;
}

.caixaReview {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.tituloReview {
    font-size: 45px;
}

.clemencia {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star {
    margin-left: 15px;
    margin-top: 8px;
    align-items: center;
    color: var(--Yellow);
    font-size: 35px;
}

/* Fim Review */

.linha {
    background-color: var(--MiddleLightBlue);
    width: 100vw;
    height: 30px;
}

.processos {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* footer */
#face, #insta, #link,#tt,#yt{
    font-size: 26px;
}
#footer {
    background-color: var(--DeepLightBlue);
    color: white;

}

#autoraFoto {
    border-radius: 3%;
    height: 70px;
    width: auto;
    padding-right: 5px;
}

#autora {
    
    height: 80px;
    display: flex;
}

#autora2 {
    margin-left: 20px;
    padding-top: 20px;
}

#caixaMenu {
    align-items: center;
    justify-content: center;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.linhaBranca {
    background-color: white;
    width: 3px;
    height: 200px;
}

.titulo {
    font-size: 30px;
}

.desc {
    font-size: 25px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.menu a {
    margin-top: 5%;
    text-decoration: none;
}

.clemencia {
    display: flex;
    align-items: center;
}